.InqueryMaker main-content{
height: 100%
}

.InqueryMaker side-padding16 {
padding: 0 16px 0 16px;
}
.InqueryMaker err-message {
font-size: 12px; color: red
}

.InqueryMaker md-content {
  background-color: transparent !important;
   }
  .InqueryMaker md-content md-tabs  {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
     }
    .InqueryMaker md-content md-tabs md-tabs-wrapper {
      background: white;
      }
  .InqueryMaker md-content h1:first-child {
    margin-top: 0;
    }